a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}
ul {
list-style: none;
padding: 0;
margin: 0;
}
.body_bg {
    background-color: #222D32;
}
.mt_150 {
    margin-top: 150px;
}
.panel-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}

.lt_aside {
    width: 180px;
    height: 100% ;
    background-color: #222D32;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 1s ;
}
.lt_aside.hidemenu {
    left: -180px;
}
.lt_aside .brand {
    height: 50px;
    width: 180px;
    background-color: #367FA9;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}
.lt_aside .brand a{
    color: #fff;
}
.lt_aside .user {
    width: 180px;
    height: 180px;
    margin-top: 30px;
}
.lt_aside .user img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto ;
}
.lt_aside .user p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    height: 40px;
    line-height: 40px;;
}
.lt_aside .nav {
    height: 130px;
    width:100% ;
}
.lt_aside .nav a {
    padding-left: 40px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    display: block;
}
.lt_aside .nav a.current {
    border-left: 3px solid #069;
}
.lt_aside .nav a i {
    margin-right: 5px;
}
.lt_aside .nav .child a {
    padding-left: 60px;
}
.lt_aside .nav .child {
    display: none;
}

.lt_main {
    height: 1000px;
    padding-left: 180px;
    padding-top: 50px;

}
.lt_topbar {
    height: 50px;
    background-color: #3C8DBC;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 180px;
}
.lt_topbar a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.lt_main .breadcrumb a {
    color:#337AB7;
}
.lt_main .breadcrumb {
    margin-top: 20px;
}
.modal-body .red {
    color: red;
}

.lt_main .echarts_left,
.lt_main .echarts_right {
    height: 400px;
    width: 48% ;
}

.table.table-bordered > thead > tr > th, 
.table.table-bordered > tbody > tr > th, 
.table.table-bordered > tfoot > tr > th, 
.table.table-bordered > thead > tr > td, 
.table.table-bordered > tbody > tr > td, 
.table.table-bordered > tfoot > tr > td{
    text-align: center;
    vertical-align: middle;
}